.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 0px;

    .logo {
        margin: 15px;
    }

    .nav-links {

        ul {
            display: flex;

            .menu-icon {
                display: none;
            }

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: black;
                    margin: 15px;
                }
            }
        }
    }
}


@media screen and (max-width:576px) {
    .nav-container {
        .nav-links {
            ul {
                li {
                    display: none;
                }
            }
        }

        .nav-links {
            ul {
                .menu-icon {
                    display: block;
                    margin: 15px;
                    font-size: 22px;
                }
            }
        }
    }
}